section [class^="container"] {
  padding: 4rem 2rem;
}

@media screen and (min-width: 1024px) {
  section [class^="container"] {
    padding: 4rem;
  }

  nav [class^="container"] {
    padding: 0 4rem;
  }
}


/*Navbar*/
.navbar {
  background-color: #ffffff;
}

.navbar-brand {
  font-size: 1.5rem;
}


.navbar-nav .nav-link {
  color: black;
  font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
  .navbar-nav .nav-item {
    padding: 0 1rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }
}



/*Hero*/
section.hero {
  background-color: #f4ecea;
  padding-top: 72px;
}

@media screen and (max-width: 576px) {
  section.hero {
    text-align: center;
  }

  section.hero img {
    width: 110%;
  }
}

/*hero section name animation*/

#typing-container {
  font-family: 'Courier New', monospace;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

#cursor {
  display: inline-block;
  color: black;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* end of hero section name animation*/



section {
  margin: 0;
  padding: 60px 0;
}






/*about me section*/
section.aboutme {
  background: linear-gradient(to bottom, #f4ecea, #f0ecff);
  padding-top: 0;
}

@media screen and (max-width: 576px) {
  section.aboutme {
    text-align: center;
  }

  section.aboutme img {
    width: 110%;
  }
}

/* end of about me section*/








/*Projects section*/

section.projects {

  background: linear-gradient(to bottom, #f0ecff, #f4ecea);
}



section.projects {
  font-size: 1rem;
  margin: 1rem auto 0;
  margin-top: 0;
  padding-top: 0;

}


/*project card section*/

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}



















/*Contact me section*/

section.contactme {
  background-color: #f4ecea
}


/*Footer*/

section.footer {
  background-color: #001219
}

/*footer text*/
footer p {
  color: blanchedalmond;
}

/*scroll*/
html {
  scroll-behavior: smooth;
}

/* end of scroll*/