<!-- Footer -->
<section class="footer" id="footer">
    <div class="container">
        <div>
            <div class="footer-bottom">
                <p>© 2025 Samira Hussein | Product designer</p>
                <p>Built with CSS Bootstrap </p>
            </div>





            <div class="contact-left">
                <p><i class="fa-solid fa-paper-plane"></i>Email: <a href="mailto:samirahussein234@gmail.com"
                        class="email-link">samirahussein234@gmail.com</a></p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/samira-h-a7996619b/" aria-label="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/samira-hussein" aria-label="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>


            
        </div>
</section>
<!-- End Footer -->